# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
*.tfplan

# Runtime/generated
infra/terraform_api_url.txt
webui/config.js

# Python
__pycache__/
*.pyc
.venv/
.env

# OS/editor
.DS_Store
.vscode/

# LocalStack
.localstack/
